.greenSum {
  font-weight: 700;
  color: var(--green-text-color);
}
.redSum {
  font-weight: 700;
  color: var(--red-text-color);
}
/* ============MOBILE STYLES========= */
@media screen and (max-width: 767px) {
  .transactionsTableRow_data {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    border-radius: 10px;
    background-color: var(--primary-white-color);
    cursor: context-menu;
  }
  .transactionsTableRow_data:hover,
  .transactionsTableRow_data:focus {
    background-color: rgba(240, 240, 240, 0.541);
  }
  .tableData_alStart,
  .tableData_alCenter,
  .tableData_alEnd {
    display: flex;
    padding: 12px 20px 8px 0px;
    border-bottom: 1px solid #dcdcdf;
    overflow: hidden;
    font-family: 'Circe';
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    width: 275px;
  }
  .tableData_alStart:not(:last-child),
  .tableData_alCenter:not(:last-child),
  .tableData_alEnd:not(:last-child) {
    border-bottom: 1px solid #dcdcdf;
  }

  .tableData_alStart[data-th]:before,
  .tableData_alCenter[data-th]:before,
  .tableData_alEnd[data-th]:before {
    content: attr(data-th);
    margin-right: auto;
    margin-left: 20px;
    color: black;
    font-family: 'Circe';
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
  }
  .redBorder {
    border-left: 5px solid var(--red-text-color);
  }
  .greenBorder {
    border-left: 5px solid var(--green-text-color);
  }
}
/* ============MOBILE STYLES========= */

/* ============TABLET STYLES========= */

@media screen and (min-width: 768px) {
  .transactionsTableRow_data {
    font-family: 'Circe';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    transition: all ease-in-out 200ms;
  }
  .transactionsTableRow_data:not(:last-child) {
    border-bottom: 1px solid #dcdcdf;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
  }
  .tableDataBalance {
    padding-right: 20px;
  }
  .tableDataDate {
    width: fit-content;
    padding-top: 16px;
    padding-bottom: 15px;
    padding-left: 20px;
  }
  .tableData_alStart {
    text-align: start;
  }

  .tableData_alCenter {
    text-align: center;
  }

  .tableData_alEnd {
    text-align: end;
  }
}
/* ============TABLET STYLES========= */

/* ============DESKTOP STYLES========= */
@media screen and (min-width: 1280px) {
}
.transactionsTableRow_data:hover,
.transactionsTableRow_data:focus {
  scale: 1.01;
  text-shadow: 2px 0px 0px rgba(255, 255, 255, 0.5);
}
