@media screen and (max-width: 767px) {
  .transactionsTableRow_data {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    border-radius: 10px;
    background-color: #fff;
    cursor: context-menu;
  }
  .transactionsTableRow_data:hover,
  .transactionsTableRow_data:focus {
    background-color: rgb(222, 222, 222);
  }
  .tableData_alStart,
  .tableData_alCenter,
  .tableData_alEnd {
    display: flex;
    padding: 12px 20px 8px 0px;
    border-bottom: 1px solid #dcdcdf;
    overflow: hidden;
    font-family: 'Circe';
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    width: 280px;
  }
  .tableData_alStart:not(:last-child),
  .tableData_alCenter:not(:last-child),
  .tableData_alEnd:not(:last-child) {
    border-bottom: 1px solid #dcdcdf;
  }

  .tableData_alStart[data-th]:before,
  .tableData_alCenter[data-th]:before,
  .tableData_alEnd[data-th]:before {
    content: attr(data-th);
    margin-right: auto;
    font-family: 'Circe';
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
  }
  .redBorder {
    border-left: 5px solid #ff6596;
  }
  .greenBorder {
    border-left: 5px solid #24cca7;
  }
}
.transactionsTableRow_data {
  font-family: 'Circe';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.transactionsTableRow_data:not(:last-child) {
  border-bottom: 1px solid #dcdcdf;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
}
.tableData_alStart {
  text-align: start;
}

.tableData_alCenter {
  text-align: center;
}

.tableData_alEnd {
  text-align: end;
}
