@media screen and (max-width: 767px) {
  .transactionsTableRow_data:last-child {
    margin-bottom: 30px;
  }
  .tableData_alStart,
  .tableData_alCenter,
  .tableData_alEnd {
    display: flex;
    padding: 12px 20px 8px 0px;
    border-bottom: 1px solid #dcdcdf;
    overflow: hidden;
    font-family: 'Circe';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 280px;
  }
  .tableData_alStart:not(:last-child),
  .tableData_alCenter:not(:last-child),
  .tableData_alEnd:not(:last-child) {
    border-bottom: 1px solid #dcdcdf;
  }

  .tableData_alStart[data-th]:before,
  .tableData_alCenter[data-th]:before,
  .tableData_alEnd[data-th]:before {
    content: attr(data-th);
    margin-right: auto;

    /* padding-top: 12px;
    padding-left: 20px;
    padding-bottom: 8px; */
    font-family: 'Circe';
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
  }
}
.transactionsTableRow_data {
  font-family: 'Circe';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.transactionsTableRow_data:not(:last-child) {
  border-bottom: 1px solid #dcdcdf;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
}
.tableData_alStart {
  text-align: start;
}

.tableData_alCenter {
  text-align: center;
}

.tableData_alEnd {
  text-align: end;
}
