:root {
  /* color palette */
  --primary-white-color: #ffffff;
  --primary-text-color: #000000;
  --red-text-color: #ff6596;
  --green-text-color: #24cca7;
  --grey-text-color: #bdbdbd;
  --icon-primary-color: #6e78e8;
  --icon-active-color: #4a56e2;
}
