.container {
  width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}

.layoutContainer {
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  background-image: url(../../static/images/Ellipse\ 1.svg),
    url(../../static/images/Ellipse\ 2.svg);
  background-position: bottom left, top right;
  background-repeat: no-repeat;
}

.layoutHeader {
  position: fixed;
  z-index: 10;
  height: 80px;
  padding: 20px 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
}

.logoWallet {
  display: inline-block;
  width: 181px;
}

.welcomeName {
  padding-right: 12px;
  font-family: 'Circe';
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #bdbdbd;
  border-right: 1px #bdbdbd solid;
}

.linkExit {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  color: #bdbdbd;
}

.iconExit {
  width: 18px;
  height: 18px;
}
.textExit {
  font-family: 'Circe';
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.backdropFilter {
  background-color: rgba(230, 230, 230, 0.4);
  backdrop-filter: blur(25px);
}

.innerWrapper {
  padding-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  /* background-color: rgba(230, 230, 230, 0.4);
  backdrop-filter: blur(25px); */
}

.navMenuWrapper {
  padding: 40px 16px;
  width: 480px;
  height: 92vh;

  display: flex;
  flex-direction: column;

  border-right: 1px solid #e7e5f2;
  box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.05),
    1px 0px 0px rgba(255, 255, 255, 0.6);
}

.navItem {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  margin-bottom: 12px;
}

.balance {
  margin-top: 16px;
  margin-bottom: 30px;
  padding: 8px 40px;

  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;

  width: 395px;
  height: 80px;
  border-radius: 20px;
  background-color: #fff;
}

.balanceAmount {
  display: block;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 45px;
}

.outlets {
  padding: 0 16px 0 69px;
}

/* ==== open modal button styles ==== */

.openModalBtn {
  width: 44px;
  height: 44px;
  position: fixed;
  right: 40px;
  bottom: 40px;
  background-color: #24cca7;
  box-shadow: 0px 6px 15px rgba(36, 204, 167, 0.5);
  border: none;
  border-radius: 50%;

  z-index: 10;

  background-image: url(../../../assets/+.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: 250ms;
}

.openModalBtn:hover {
  background-color: #20ba98;
}
/*  ====== // open modal button styles ===== */
