.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}

.layoutContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  background-image: url(../../assets/images/Ellipse\ 1.svg),
    url(../../assets/images/Ellipse\ 2.svg);
  background-position: bottom left, top right;
  background-repeat: no-repeat;
}

.layoutHeader {
  position: fixed;
  z-index: 10;
  height: 80px;
  padding: 20px 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-white-color);
}

.logoWallet {
  display: inline-block;
  width: 181px;
}

.userWrapper {
  display: flex;
  padding-right: 46px;
  padding-top: 18px;
  position: relative;
}

.welcomeName {
  padding-right: 12px;
  font-family: 'Circe';
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: var(--grey-text-color);
  border-right: 1px var(--grey-text-color) solid;
}

.linkExit {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  color: var(--grey-text-color);
}

.exitBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: fit-content;
}

.exitBtn:hover>p {
  color: rgb(255 101 150);
}

.exitBtn:hover>svg {
  fill: rgb(255 101 150);
}

.iconExit {
  height: 18px;
  position: absolute;
  right: 90px;
  top: 22px;
  width: 18px;
  fill: var(--grey-text-color);
  transition: 250ms;
}

.textExit {
  font-family: 'Circe';
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: var(--grey-text-color);
  padding-left: 30px;
  transition: 250ms;
}

.backdropFilter {
  min-height: 100vh;
  background-color: rgba(230, 230, 230, 0.4);
  backdrop-filter: blur(25px);
}

.innerWrapper {
  padding-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navMenuWrapper {
  padding: 40px 16px;
  width: 480px;
  height: 92vh;

  display: flex;
  flex-direction: column;

  border-right: 1px solid #e7e5f2;
  box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.05),
    1px 0px 0px rgba(255, 255, 255, 0.6);
}

.navMenuInnerWrapper {
  display: flex;
  flex-direction: column;
}

.navItem {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  margin-bottom: 12px;
}

.balance {
  margin-top: 16px;
  margin-bottom: 30px;
  padding: 8px 40px;

  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;

  width: 395px;
  height: 80px;
  border-radius: 30px;
  background-color: var(--primary-white-color);
}

.balanceAmount {
  display: block;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 45px;
}

.outlets {
  padding: 0 16px 0 69px;
}

@media screen and (min-width: 768px) and(max-width:1280) {
  .outlets {
    padding: 0 32px;
  }
}

@media screen and (max-width: 767px) {
  .outlets {
    padding: 0 20px;
  }
}

/* ==== open modal button styles ==== */

.openModalBtn {
  width: 44px;
  height: 44px;
  position: fixed;
  right: 40px;
  bottom: 40px;
  background-color: var(--green-text-color);
  box-shadow: 0px 6px 15px rgba(36, 204, 167, 0.5);
  border: none;
  border-radius: 50%;
  cursor: pointer;

  z-index: 10;

  background-image: url(../../assets/images/+.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: 250ms;
}

.openModalBtn:hover {
  background-color: #20ba98;
}

/*  ====== // open modal button styles ===== */

/* ======= TABLET STYLES ======= */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    width: 768px;
    margin: 0 auto;
    padding: 0 32px;
  }

  .innerWrapper {
    flex-direction: column;
  }

  .navMenuWrapper {
    height: auto;
    border-right: none;
    box-shadow: none;

    flex-direction: row;
    justify-content: space-between;
    width: 704px;
    align-items: flex-end;

    padding: 32px 0 20px;
  }

  .balance {
    width: 336px;
    margin: 0;
  }

  .navItem:last-child {
    margin-bottom: 28px;
  }

  .outlets {
    padding: 0 0 40px;
  }
}

/* ====== // TABLET STYLES ====== */

/* ======= MOBILE STYLES ======= */
@media screen and (max-width: 767px) {
  .container {
    width: 320px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .innerWrapper {
    flex-direction: column;
  }

  .layoutContainer {
    background-image: none;
  }

  .navMenuWrapper {
    height: auto;
    width: 280px;
    padding: 0;

    border-right: none;
    box-shadow: none;
  }

  .navMenuInnerWrapper {
    width: 280px;
  }

  .balance {
    width: 280px;
    margin: 0;
    margin-bottom: 32px;
  }

  .outlets {
    width: 280px;
    padding: 0 0 48px;
  }
}

/* ====== // MOBILE STYLES ====== */

/* @media screen and (max-width: 767px) {
}
.currencyHidden {
  display: none;
} */