.container {
  font-style: normal;
  width: 280px;
}

.nav__link {
  width: 280px;
  display: flex;
  padding: 14px 42px 10px;
  justify-content: space-between;
}

.home__svg,
.statis__svg,
.curren__svg {
  fill: var(--icon-primary-color);
  height: 38px;
  width: 38px;
}

.activ {
  fill: var(--icon-active-color);
  color: black;
  font-weight: bold;
}

.home__word,
.statis__word {
  display: none;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: var(--primary-text-color);
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0;
    margin-bottom: 16px;
  }
  .nav__link {
    width: auto;
    padding: 0;
    flex-direction: column;
    gap: 12px;
  }
  .home,
  .statis {
    align-items: center;
    text-decoration: none;
    display: flex;
  }
  .activ {
    color: black;
    font-weight: bold;
  }
  .home__svg,
  .statis__svg {
    width: 18px;
    height: 18px;
    margin-right: 23px;
  }
  .home__word,
  .statis__word {
    display: initial;
  }
  .home__word:active {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
  }
  .curren__svg {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 0;
    margin: 0px;
    width: auto;

    display: block;
  }

  .nav__link {
    padding: 0;
  }
}
