.statistics__block__form {
  width: 395px;
  height: 606px;
}

.statistics__block {
  margin-top: 21px;
  display: flex;
  justify-content: space-between;
  width: 715px;
  height: 676px;
}

.statistics_warning_text {
  color: #4956e2;
}
