.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  flex-direction: column;

  width: 540px;
  padding: 40px 70px;

  background-color: #fff;
  border-radius: 20px;
}

.closingCross {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 17px;
  height: 17px;

  background-image: url(../../../assets/modal-cross.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: 250ms;
}

.closingCross:hover {
  scale: 1.1; /*??????????*/
}

.title {
  margin-bottom: 40px;

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
}

/* ======== toggle styles ========== */
.toggle {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;

  margin-bottom: 40px;
}

.toggle label {
  position: relative;
  display: block;
  width: 80px;
  height: 40px;

  border: 1px solid #e0e0e0;
  background-color: #fff;

  border-radius: 30px;
  cursor: pointer;
}

.toggle label::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -5px; /*??????*/

  margin: auto;

  width: 44px;
  height: 44px;

  background-color: #24cca7;
  border-radius: 50%;
  box-shadow: 0px 6px 15px rgba(36, 204, 167, 0.5);

  background-image: url(../../../assets/+.svg);
  background-repeat: no-repeat;
  background-position: center;

  transition: background-color 300ms linear, transform 300ms ease-in-out 100ms,
    background-image 300ms linear;
}

.toggle input {
  display: none;
}

.toggle input:checked ~ label:after {
  background-color: #ff6596;
  box-shadow: 0px 6px 15px rgba(255, 101, 150, 0.5);

  background-image: url(../../../assets/minus.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;

  transform: translate3d(50px, 0, 0); /*??????*/
}

.incomeSpan {
  order: -1;
  color: #24cca7;
  transition: 300ms;
}
.toggle input:checked ~ .incomeSpan {
  color: #e0e0e0;
}

.expenseSpan {
  color: #e0e0e0;
  transition: 300ms;
}
.toggle input:checked ~ .expenseSpan {
  color: #ff6596;
}
/* ======== // ========== */

.form {
  text-align: center;
}

.inputsWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  gap: 30px;

  margin-bottom: 40px;
  margin-top: 40px;
}

.input {
  width: 185px;
  padding: 8px;

  font-family: 'Circe', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;

  border: none;
  border-bottom: 1px solid #e0e0e0;
}

.input::placeholder {
  color: #bdbdbd;
}

.inputAmount {
  width: 185px;
  padding: 8px;

  font-family: 'Circe', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-align: center;

  border: none;
  border-bottom: 1px solid #e0e0e0;
}

.datepickerWrapper {
  max-width: 195px;
  color: rgb(15, 15, 15);
}

.comment {
  display: block;
  width: 394px;

  padding: 8px;

  font-family: 'Circe', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  border: none;
  border-bottom: 1px solid #e0e0e0;
}

.comment::placeholder {
  color: #bdbdbd;
}

.submitBtn {
  margin-top: 40px;
  margin-bottom: 20px;

  width: 300px;
  height: 50px;

  color: #fff;
  background: #24cca7;
  border: none;
  border-radius: 20px;
  transition: 250ms;
}

.submitBtn:hover {
  background: #20b797;
}

.cancelBtn {
  width: 300px;
  height: 50px;

  color: #4a56e2;
  background: #ffffff;
  border: 1px solid #4a56e2;
  border-radius: 20px;
  transition: 250ms;
}

.cancelBtn:hover {
  background: #fbfbfb;
  color: #3b45ae;
  border: 1px solid #3b45ae;
}
